<h3>Employee Registration Form</h3>

<form [formGroup]="empForm" autocomplete="off" novalidate (ngSubmit)="createEmployee(empForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Gender" formControlName="gender">
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Department" formControlName="department">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;<button mat-raised-button color="primary" type="submit" (click)="onAddEmployeeClick($event)">Add
        Employee</button>
    <p>{{employeeCreateStatus}}</p>
</form>